<h2 class="text text-center">El trabajo minero en Bolivia</h2> 
<h6 class="text text-center">Madrugadores, fatigados, sacrificados. La vida de un minero no es sencilla. Muchos de ellos salen de sus casas muy temprano para dirigirse a la mina, lugar que no puede garantizar si regresarán sanos y salvos.

        Su día a día transcurre entre explosivos, maquinarias, herramientas, suciedad y oscuridad.  Una vez que la jornada de trabajo llega a su fin, volver a tomar contacto con la luz natural se vuelve uno de los principales anhelos.
    </h6> 
<img src="../../assets/taladro.svg" class="center" alt="Responsive image">